*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: hsl(217, 54%, 11%);
}

.card{
  border: 1px solid red;
  background-color: hsl(216, 50%, 16%);
  border-radius: 4%;
  text-align: center;
  margin-top: 10%;
  width: 30%;
}

.coverImg {
  margin:0;
}

.coverImg img{
  display: block;
  align-items: center;
  margin: auto;
  width: 30%;
}

.text{
  border:1px solid white;
}

h1{
  color: hsl(0, 0%, 100%)
}

.subtext{
  color:hsl(215, 32%, 27%);
}

.informations {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}

.priceInfo, .timeLimitInfo{
  
}